{% extends 'base.html.twig' %}

{% block title %}Equipe {{ team.title }}{% endblock %}

{% block body %}

<div class="container">
  
    {% for projectStatus in projectStatuses %}
    <div class="row">
        <div class="col-sm">
            <div class="text-primary">
              {{ projectStatus.title }}
            </div>
        </div>
        
    </div>
    {% for project in projectStatus.projects %}
    <div class="row">
        <li>
            {{ project.title }} ({{ project.description }})
        </li>
            
    </div>
    {% endfor %}
    {% else %}
        <div class="col-sm">
            Les etapes de projet n'ont pas été definis.
        </div>
    
    {% endfor %}
  
</div>
{% endblock %}
