{% extends 'base.html.twig' %}

{% block title %}Edit TaskStatus{% endblock %}

{% block body %}
    <h1>Edit TaskStatus</h1>

    {{ include('task_status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('task_status_index') }}">back to list</a>

    {{ include('task_status/_delete_form.html.twig') }}
{% endblock %}
